:root {
    --clr-neon: hsl(317 100% 54%);
    --clr-bg: hsl(323 21% 16%);
    --clr-neon_2: hsl(180 100% 54%);
    --clr-bg_2: hsl(190 21% 16%);
}

.neon-btn {
    margin-top: 1em;
    font-size: 2rem;
    display: inline-block;
    cursor: pointer;
    text-decoration: none;
    color: var(--clr-neon_2);
    border: var(--clr-neon_2) 0.125em solid;
    padding: 0.25em 1em;
    border-radius: 0.25em;

    text-shadow: 
    0 0 0.125 hsl(0 0% 100% / 0.3),
    0 0 0.45 currentColor;

    box-shadow: 
    inset 0 0 0.5em 0 var(--clr-neon_2),
    0 0 0.5em 0 var(--clr-neon_2);

    position: relative;
}

.neon-btn::before {
    pointer-events: none;
    content: "";
    position: absolute;
    background: var(--clr-neon_2);
    top: 120%;
    left: 0;
    width: 100%;
    height: 100%;

    transform: perspective(1em) rotateX(40deg) scale(1, 0.35);
    filter: blur(0.75em);
    -webkit-animation: 2s linear 0s infinite alternate glow;
            animation: 2s linear 0s infinite alternate glow;
}

.neon-btn::after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    box-shadow: 0 0 2em 0.5em var(--clr-neon_2);
    -webkit-animation: 2s linear 0s infinite alternate glow;
            animation: 2s linear 0s infinite alternate glow;
}

.neon-btn:hover,
.neon-btn:focus {
    background: var(--clr-neon_2);
    color: var(--clr-bg_2);
    text-shadow: none;
}

.neon-btn:hover::after {
    opacity: 1;
}

@media all and (min-width: 3000px){
    .neon-btn {
        margin-top: 1em;
        font-size: 5rem;
        display: inline-block;
        cursor: pointer;
        text-decoration: none;
        color: var(--clr-neon_2);
        border: var(--clr-neon_2) 0.125em solid;
        padding: 0.25em 1em;
        border-radius: 0.25em;
    
        text-shadow: 
        0 0 0.125 hsl(0 0% 100% / 0.3),
        0 0 0.45 currentColor;
    
        box-shadow: 
        inset 0 0 0.5em 0 var(--clr-neon_2),
        0 0 0.5em 0 var(--clr-neon_2);
    
        position: relative;
    }
}

@-webkit-keyframes glow { from {opacity: 0;} to {opacity: 1;} }
        @keyframes glow { from {opacity: 0;} to {opacity: 1;} }

