.W_workoutContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-width: 100vh;
    min-height: 100vh;
    background-color: lightskyblue;
}

