.W_workoutContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-width: 100vh;
    min-height: 100vh;
    background-color: lightskyblue;
}

.W_paramsList{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.W_newExerciceContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    margin: 20px;
    width: 300px;
    height: 200px;
    border: 2px solid black;
}

#exerciceTitle{
    font-size: 20px;
    text-align: center;
    font-weight: bold;
    background-color: lightskyblue;
    border: none;
    align-self: center;
    margin: 10px;
}